/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}
body {
  font: 16px/1.5em normal Arial, sans-serif;
}
.main {
  width: 100px;
  margin: 200px auto;
}
.changelog-wrapper {
  position: relative;
  display: inline-block;
}
.changelog-wrapper .badge {
  position: absolute;
  background: #003333;
  color: #ffffff;
  display: block;
  top: -0.3em;
  right: -0.3em;
  line-height: 1;
  text-align: center;
  padding: 0.2em 0.4em;
  font-size: .8em;
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  border-radius: 0.8em;
}
.changelog-wrapper .btn {
  display: inline-block;
  position: relative;
  padding: 0.9em 1.2em;
  background: #fa8072;
  color: #ffffff;
  max-height: 1em;
  line-height: 1;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  text-decoration: none;
}
.changelog-wrapper .btn:hover {
  background: #f97363;
}
.changelog-wrapper .changelog-list-wrapper {
  position: absolute;
  padding-top: .5em;
}
.changelog-wrapper .changelog-list {
  min-width: 25em;
  max-height: 10em;
  list-style: none;
  background-color: #003333;
  color: #ffffff;
  border: 1px solid #003333;
  padding: .5em 0;
  overflow-y: auto;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  -webkit-box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.1);
}
.changelog-wrapper .changelog-list::-webkit-scrollbar {
  width: 9px;
}
.changelog-wrapper .changelog-list::-webkit-scrollbar-thumb {
  background-color: #fa8072;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.changelog-wrapper .changelog-list li {
  display: block;
  border-bottom: 1px solid #fa8072;
  margin-bottom: .5em;
  padding: 0 .5em .5em;
  font-size: 0.9em;
  line-height: 1.4;
  zoom: 1;
}
.changelog-wrapper .changelog-list li:before {
  content: '';
  display: block;
}
.changelog-wrapper .changelog-list li:after {
  content: '';
  display: table;
  clear: both;
}
.changelog-wrapper .changelog-list li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.changelog-wrapper .changelog-list li p {
  float: left;
  width: 70%;
  padding-left: 1em;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.changelog-wrapper .label {
  display: block;
  float: left;
  width: 30% ;
  padding: 3px 5px;
  background-color: #428bca;
  color: #000;
  text-align: center;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.changelog-wrapper .label.square {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.changelog-wrapper .label.bug {
  background-color: #d9534f;
  color: #fff;
}
.changelog-wrapper .label.feature {
  background-color: #5cb85c;
  color: #fff;
}
.changelog-wrapper .label.enhancement {
  background-color: #5bc0de;
  color: #fff;
}
.changelog-wrapper .top {
  bottom: 100%;
  padding: 0 0 0.5em 0;
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.changelog-wrapper .top:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-top: 0.5em solid #003333;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.changelog-wrapper .left {
  right: 100%;
  padding: 0 0.5em 0 0;
  margin-right: 0;
  top: 0;
}
.changelog-wrapper .left:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-left: 0.5em solid #003333;
  top: .9em;
  right: 0;
  -webkit-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  transform: translate(50%, 0);
}
.changelog-wrapper .right {
  left: 100%;
  padding: 0 0 0 0.5em;
  margin-left: 0;
  top: 0;
}
.changelog-wrapper .right:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-right: 0.5em solid #003333;
  top: .9em;
  left: 0em;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.changelog-wrapper .bottom {
  top: 100%;
  padding: 0.5em 0 0 0;
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.changelog-wrapper .bottom:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-bottom: 0.5em solid #003333;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
