// wrapper so we can have caret above it and still use overflow-y (otherwise it gets hidden)
.changelog-wrapper {
  position: relative;
  display: inline-block;
  ul{
    position: absolute;
    min-width: @list-min-width;
    max-height: @list-max-height;
    list-style: none;
    background-color: @list-bg-color;
    color: @default-color;
    border: 1px solid @list-bg-color;
    padding: .5em 0 0;
    overflow-y: auto;
    .rounded(.4em);
    .drop-shadow(1px, 3px, 7px, 0.1);

    li {
      display: block;
      border-bottom: 1px solid lighten(@list-bg-color, 10%);
      .clearfix();
      &:last-child {
        border-bottom: none;
      }
      .label{
        float: left;
        font-size: .75em;
        font-weight: bold;
        text-transform: uppercase;
        background-color: @label-bg-color;
        color: @label-color;
        .rounded(.3em);
        .box-sizing();
        width: @label-width;

        //label types
        &.square{
          .rounded(0);
        }
        &.bug{
          background-color: @label-bug-bg-color;
          color: @label-bug-color;
        }
        &.feature{
          background-color: @label-feature-bg-color;
          color: @label-feature-color;
        }
        &.enhancement{
          background-color: @label-enhancement-bg-color;
          color: @label-enhancement-color;
        }
         & + p{
          margin-left: @label-width;
        }
      }
      p {
        text-align: left;
        padding-left: 1em;
        .box-sizing();
      }
    }
    //style scrollbar
    &::-webkit-scrollbar {
      width: 9px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: @default-bg-color;
      .rounded(10px);
    }
  }
  // positioning list according
  &.top {
    ul{
      bottom: 100%;
      .align-h();
      margin-bottom: @caret-width;
    }
    .btn {
      .set-caret('top', @caret-width, @caret-color);
    }
  }
  &.left {
    ul{
      top: 0;
      right: 100%;
      margin-right: @caret-width;
    }
    .btn {
      .set-caret('left', @caret-width, @caret-color);
    }
  }
  &.right {
    ul{
      top: 0;
      left: 100%;
      margin-left: @caret-width;
    }
    .btn{
      .set-caret('right', @caret-width, @caret-color);
    }
  }
  &.bottom {
    ul{
      top: 100%;
      .align-h();
      margin-top: @caret-width;
    }
    .btn {
      .set-caret('bottom', @caret-width, @caret-color);
    }
  }
}
