//general
@main-color: #09c;
@default-bg-color: @main-color;
@default-color: #fff;
@default-color-dark: #003333;
@default-padding: .9em 1.2em;

//list
@list-bg-color: @default-color-dark;
@list-min-width: 25em;
@list-max-height: 10em;

//list item
@list-item-padding: .5em;
@list-item-font-size: 0.9em;

//labels
@label-color: #fff;
@label-bg-color: #428bca;
@label-width: 30%;

@label-bug-color: #fff;
@label-bug-bg-color: #d9534f;

@label-feature-color: #fff;
@label-feature-bg-color: #5cb85c;

@label-enhancement-color: #fff;
@label-enhancement-bg-color: #5bc0de;

//caret
@caret-color: @list-bg-color;
@caret-width: .5em;

//badge
@badge-font-size: .75em;
@badge-size: @badge-font-size*2;
@badge-bg-color: @list-bg-color;
@badge-color: @default-color;
